

.modal1 {
    
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 13px;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Làm tối nền khi modal mở */
    
    display: flex;
    justify-content: center;
    
    z-index: 1000; /* Đảm bảo modal luôn ở trên cùng */
}

.modal-content1 {
    background: #222;
    padding: 2rem;
    border-radius: 10px;
    
    width: 100%;
    max-width: 950px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    color: #fff; /* Đổi màu chữ cho dễ đọc */
    text-align: center;
}

.modal-image {
    width: 100%;
    max-height: 70vh; /* Giới hạn chiều cao của ảnh để không chiếm toàn bộ màn hình */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
    margin-bottom: 1rem;
}

.close-button {
    position: absolute;
    background-color: var(--bg-color);
    padding: 0;
    box-shadow:  10px 10px 20px rgba(199, 219, 154, 0.1), 
                  -10px -10px 20px rgba(199, 219, 154, 0.1),
                  10px -10px 20px rgba(199, 219, 154, 0.01),
                  -10px 10px 20px rgba(199, 219, 154, 0.0);  
    box-sizing: border-box;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 10px;
    margin: 0;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--red-color); /* Đổi màu nút đóng */
}

.gallery-modal h1{
    font-size: var(--h4-font);
    color: var(--h1-color);
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 50px;
}
.blog-modal h2{
    font-size: 15px;
    color: var(--p-color);
    font-weight: 400;
}
.blog-modal p{
    text-align: left;
    margin-top: 30px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
.blog-modal .modal-image{
    width: 100%;
    max-height: 500px; /* Giới hạn chiều cao của ảnh để không chiếm toàn bộ màn hình */
    object-fit: cover;
    margin-bottom: 1rem;
}
.blog-modal .modal-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-modal .box-detailwork{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    
}
.blog-modal .box-detailwork .box-image-detailwork{
    max-width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    
}
.blog-modal .box-detailwork .box-text-detailwork {
    padding-right: 2rem;
}
.blog-modal .box-detailwork .box-text-detailwork h3{
    text-align: left;
    margin-top: 30px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    
}
.blog-modal .box-detailwork .box-image-detailwork img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-modal .description-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8%;
    gap: 1rem;
    width: 100%;
    margin-top: 30px;
}


.blog-modal .description-box .center-description-box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.blog-modal .description-box .center-description-box .techStack h1{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--h1-color);
}
.blog-modal .description-box .center-description-box .stacks{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.blog-modal .description-box .center-description-box .stacks h1{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--h1-color);
}

.blog-modal .gallery-detailwork{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 50px;
}
.blog-modal .gallery-detailwork .img-gallery-detailwork{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 9px;
    padding: 0 10px;
    margin-top: 19px;
    
}
.blog-modal .gallery-detailwork .img-gallery-detailwork img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}


/*=====================================responsive=================================================*/
@media (max-width:1173px){
    .card-work p{
    font-size: 17px;
}
.container-work .card-work .card-image-work{
    height: 160px;
}
.container-work .card-work{
    height: 340px;
}
}
@media (max-width:1173px){
    .container-work{
    gap: 1rem;
}
}
@media (max-width:807px){
    .card-work h1{
    font-size: 12px;
}
.container-work .card-work .title-work label{
    font-size: 12px;
}
.blog-modal .gallery-detailwork{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
}
}
@media (max-width:753px){
    .container-work{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 1rem;
}
.blog-modal h1{
    font-size: 22px;
}
.blog-modal h2{
    font-size: 15px;
}
.blog-modal p{
    font-size: 15px;
}
.modal-image{
    width: 100%;
    height: 300px; /* Giới hạn chiều cao của ảnh để không chiếm toàn bộ màn hình */
    object-fit: cover;
    margin-bottom: 1rem;
}
.blog-modal .box-detailwork .box-text-detailwork h3{
    text-align: left;
    margin-top: 30px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    
}
.blog-modal .description-box{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    padding: 0;
}
}
@media (max-width:707px){
    .blog-modal .box-detailwork .box-image-detailwork{
        max-width: 100%;
        max-height: 200px;
        overflow: hidden;
        border-radius: 10px;
        
    }
}
@media (max-width:615px){
    .blog-modal .box-detailwork{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 50px;
        align-items: center;
        width: 100%;
        
    }
    .blog-modal .box-detailwork .box-image-detailwork{
        width: 100%;
        min-height: 300px ;
        overflow: hidden;
        border-radius: 10px;
        
    }
    .blog-modal .box-detailwork .box-text-detailwork {
        padding-right: 0rem;
    }
}
@media (max-width:571px ){
    .blog-modal .gallery-detailwork .img-gallery-detailwork{
        width: 100%;
        height: 150px;
        overflow: hidden;
        border-radius: 9px;
        padding: 0 10px;
        margin-top: 15px;
        
    }
}
@media (max-width:551px){
    .container-work .card-work .card-image-work{
    height: 130px;
}
.container-work .card-work{
    height: 320px;
}
.modal-content .gallery-modal .gallery-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.blog-modal .description-box .center-description-box .techStack h1{
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--h1-color);
}
.blog-modal .description-box .center-description-box .stacks{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.blog-modal .description-box .center-description-box .stacks h1{
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--h1-color);
}
.blog-modal .description-box .center-description-box{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}
}
@media (max-width:525px){
 .container-work{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    gap: 1rem;
}
.container-work .card-work .card-image-work{
    height: 280px;
}
.container-work .card-work{
    height: 430px;
}
.modal {
    align-items: start;
}
}
@media (max-width:463px){
    .blog-modal .gallery-detailwork .img-gallery-detailwork{
        width: 100%;
        height: 120px;
        overflow: hidden;
        border-radius: 9px;
        padding: 0 10px;
        margin-top: 19px;
        
    }
    .blog-modal .box-detailwork .box-image-detailwork{
        width: 100%;
        min-height: 250px ;
        overflow: hidden;
        border-radius: 10px;
        
    }
}
@media (max-width:427px){
    .container-work .card-work .card-image-work{
    height: 230px;
}
.container-work .card-work{
    height: 380px;
}
.blog-modal h1{
    font-size: 19px;
}
.modal-image{
    width: 100%;
    height: 240px; /* Giới hạn chiều cao của ảnh để không chiếm toàn bộ màn hình */
    object-fit: cover;
    margin-bottom: 1rem;
}
.blog-modal p{
    font-size: 14px;
}

}
@media (max-width:391px){
    .blog-modal .gallery-detailwork{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 0.5rem;
    }
    .blog-modal .gallery-detailwork .img-gallery-detailwork{
        width: 100%;
        height: 180px;
        
        overflow: hidden;
        border-radius: 9px;
        padding: 0 10px;
        margin-top: 5px;
        
    }
    .blog-modal .box-detailwork .box-image-detailwork{
        width: 100%;
        min-height: 220px ;
        overflow: hidden;
        border-radius: 10px;
        
    }
}
@media (max-width:354px){
    .modal-image{
        width: 100%;
        height: 180px; /* Giới hạn chiều cao của ảnh để không chiếm toàn bộ màn hình */
        object-fit: cover;
        margin-bottom: 1rem;
    }
}